
<%= render 'pages/home' unless user_signed_in? %>

<div class="pin-box pins" data-no-turbolink>
  <%= render 'layouts/pins' %>
</div> 


<%= link_to 'Load More Pins', pins_path(:page => @pins.next_page), :class => 'load-more-pins', :remote => true if @pins.next_page %>
 
<div class='center'>
  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %> 
</div> 






