<h1><strong>Store: </strong><%= @folder.store.name %>  <strong>Season: </strong> <%= @folder.season %></h1>

<div class="pin-box pins" data-no-turbolink > 
  <%= render 'layouts/pins' %>
</div>

<%= render 'pins/form' %>


