<div class='jumbotron center'>
	<h1>Welcome Home</h1>
	
	<% unless user_signed_in? %>
		<p> 
				<%= link_to 'Sign In', new_user_session_path, class: 'btn btn-default btn-lg' %> 
				<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
		</p>
	<% end %>
	
</div>
