<div class='jumbotron center'>
	<h1>Welcome Home</h1>
	
	<p> 
			<%= link_to 'Sign In', '#', class: 'btn btn-default btn-lg' %> 
			<%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
	</p>
	
</div>
