<div id='pins' class='transitions-enabled'> 
  <% @pins.each do |pin| %>
    <div class='box panel panel-default'>
      <%= link_to image_tag(pin.image.url(:medium)), [pin.folder, pin] %>
      <div class='panel-body'>
        <%= pin.description.truncate(29) %> </br>
        Posted by <strong><%= pin.user.try (:name) %></strong>
        
      </div>
    </div>  
  <% end %>
</div>